## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME", "STATUS"], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_df["APPLICATION_TYPE"].value_counts()[application_df["APPLICATION_TYPE"].value_counts()<600].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4500        1
C1580        1
C2570        1
C6100        1
C1283        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df['CLASSIFICATION'].value_counts().loc[application_df['CLASSIFICATION'].value_counts() > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C1720        6
C4100        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1234        2
C1256        2
C3200        2
C1267        2
C1246        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(application_df["CLASSIFICATION"].value_counts()[application_df["CLASSIFICATION"].value_counts()<2000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
Other     6062
C1200     4837
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
app_dummies_df = pd.get_dummies(application_df, dtype = float)
app_dummies_df.head()

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Split our preprocessed data into our features and target arrays
y = app_dummies_df['IS_SUCCESSFUL'].values
X = app_dummies_df.drop(columns = ['IS_SUCCESSFUL']).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=90, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=50, input_dim=number_input_features, activation="tanh")
)
# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units=20, input_dim=number_input_features, activation="sigmoid")
)
# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, input_dim=number_input_features, activation="elu")
)
# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 90)                3600
_________________________________________________________________
dense_1 (Dense)              (None, 50)                4550
_________________________________________________________________
dense_2 (Dense)              (None, 20)                1020
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 21
=================================================================
Total params: 9,191
Trainable params: 9,191
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=50)

WARNING:tensorflow:From C:\Users\truth\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\math_grad.py:1250: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
Epoch 1/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.7290 - acc: 0.6966
Epoch 2/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5685 - acc: 0.7247
Epoch 3/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5666 - acc: 0.7278
Epoch 4/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5628 - acc: 0.7271
Epoch 5/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5618 - acc: 0.7262
Epoch 6/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5674 - acc: 0.72371s - l
Epoch 7/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5652 - acc: 0.7236
Epoch 8/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5598 - acc: 0.7279
Epoch 9/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5599 - acc: 0.7282
Epoch 10/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5596 - acc: 0.7279
Epoch 11/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5692 - acc: 0.7224
Epoch 12/50
25724/25724 [==============================] - 2s 90us/sample - loss: 0.5685 - acc: 0.7259
Epoch 13/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5583 - acc: 0.7280
Epoch 14/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5570 - acc: 0.7297
Epoch 15/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5534 - acc: 0.7303
Epoch 16/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5518 - acc: 0.7298
Epoch 17/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5765 - acc: 0.7193
Epoch 18/50
25724/25724 [==============================] - 3s 109us/sample - loss: 0.5533 - acc: 0.7303
Epoch 19/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5556 - acc: 0.7317
Epoch 20/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5560 - acc: 0.7306
Epoch 21/50
25724/25724 [==============================] - 2s 96us/sample - loss: 0.5631 - acc: 0.7249
Epoch 22/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5556 - acc: 0.7311
Epoch 23/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5531 - acc: 0.7311
Epoch 24/50
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5531 - acc: 0.7307
Epoch 25/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5549 - acc: 0.7295
Epoch 26/50
25724/25724 [==============================] - 3s 108us/sample - loss: 0.5606 - acc: 0.7263
Epoch 27/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5527 - acc: 0.7319
Epoch 28/50
25724/25724 [==============================] - 2s 91us/sample - loss: 0.5510 - acc: 0.7317
Epoch 29/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5490 - acc: 0.7318
Epoch 30/50
25724/25724 [==============================] - 2s 89us/sample - loss: 0.5496 - acc: 0.7324
Epoch 31/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5503 - acc: 0.7315
Epoch 32/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5502 - acc: 0.7326
Epoch 33/50
25724/25724 [==============================] - 2s 92us/sample - loss: 0.5482 - acc: 0.7323
Epoch 34/50
25724/25724 [==============================] - 3s 97us/sample - loss: 0.5479 - acc: 0.7327
Epoch 35/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5474 - acc: 0.7338
Epoch 36/50
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5478 - acc: 0.7329
Epoch 37/50
25724/25724 [==============================] - 2s 93us/sample - loss: 0.5463 - acc: 0.7329
Epoch 38/50
25724/25724 [==============================] - 2s 94us/sample - loss: 0.5472 - acc: 0.7344
Epoch 39/50
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5462 - acc: 0.7332
Epoch 40/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5453 - acc: 0.7338
Epoch 41/50
25724/25724 [==============================] - 2s 97us/sample - loss: 0.5470 - acc: 0.7325
Epoch 42/50
25724/25724 [==============================] - 3s 99us/sample - loss: 0.5450 - acc: 0.7346
Epoch 43/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5460 - acc: 0.7337
Epoch 44/50
25724/25724 [==============================] - 3s 100us/sample - loss: 0.5446 - acc: 0.7345
Epoch 45/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5447 - acc: 0.7354
Epoch 46/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5441 - acc: 0.7355
Epoch 47/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5441 - acc: 0.7344
Epoch 48/50
25724/25724 [==============================] - 3s 101us/sample - loss: 0.5439 - acc: 0.7348
Epoch 49/50
25724/25724 [==============================] - 3s 98us/sample - loss: 0.5441 - acc: 0.7340
Epoch 50/50
25724/25724 [==============================] - 3s 102us/sample - loss: 0.5439 - acc: 0.7358

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5701 - acc: 0.7237
Loss: 0.5701372699452558, Accuracy: 0.7237317562103271

In [54]:
# Export our model to HDF5 file
# nn.save("AlphabetSoupCharity.h5")